.header{
    display: flex; 
    justify-content: space-between;
    border: 1px solid black;
    background-color: antiquewhite;

    
}

.logo{
    width: 100px;
}
.nav-items{
    padding-right: 5px;
}
.nav-items > ul{
    font-size: 14px;
    display: flex; 
    list-style-type: none; 
}

.nav-items > ul > li{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 7px;
    width: 200px;
    height: 300px;
    margin: 5px;
    background-color: antiquewhite;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    padding: 7px;
    width: 200px;
    height: 300px;
    margin: 5px;
    background-color: antiquewhite;
}
.shimmer-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.login-btn{
    cursor: pointer;
    padding: 0 20px;
}

.res-logo{
    width: 190px;
    height: 140px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.filter{
    display: flex;
}

.user-card{
    pading: 10px;
    border: 1px solid black;
}